<head>
  <script>
    function generateSocialImage({
            title,
            tagline,
            cloudName,
            imagePublicID,
            cloudinaryUrlBase = 'https://res.cloudinary.com',
            version = null,
            titleFont = 'arial',
            titleExtraConfig = '',
            taglineExtraConfig = '',
            taglineFont = 'arial',
            imageWidth = 1280,
            imageHeight = 669,
            textAreaWidth = 760,
            textLeftOffset = 480,
            titleBottomOffset = 254,
            taglineTopOffset = 445,
            textColor = '000000',
            titleFontSize = 64,
            taglineFontSize = 48,
            }) {
                // configure social media image dimensions, quality, and format
                const imageConfig = [
                `w_${imageWidth}`,
                `h_${imageHeight}`,
                'c_fill',
                'q_auto',
                'f_auto',
                ].join(',');
  
                const titleConfig = [
                `w_${textAreaWidth}`,
                'c_fit',
                `co_rgb:${textColor}`,
                'g_south_west',
                `x_${textLeftOffset}`,
                `y_${titleBottomOffset}`,
                `l_text:${titleFont}_${titleFontSize}${titleExtraConfig}:${encodeURIComponent(
                title,
                )}`,
                ].join(',');
  
                // configure the tagline text
                const taglineConfig = [
                `w_${textAreaWidth}`,
                'c_fit',
                `co_rgb:${textColor}`,
                'g_north_west',
                `x_${textLeftOffset}`,
                `y_${taglineTopOffset}`,
                `l_text:${taglineFont}_${taglineFontSize}${taglineExtraConfig}:${encodeURIComponent(
                tagline,
                )}`,
                ].join(',');
  
                // combine all the pieces required to generate a Cloudinary URL
                const urlParts = [
                cloudinaryUrlBase,
                cloudName,
                'image',
                'upload',
                imageConfig,
                titleConfig,
                taglineConfig,
                version,
                imagePublicID,
                ];
  
                const validParts = urlParts.filter(Boolean);
  
                // join all the parts into a valid URL to the generated image
                return validParts.join('/');
        }
    console.log('**In method**');
    console.log('**in note**');
    var pagetitle = "{{ page.title }}";
    const socialImage = generateSocialImage({
      title: pagetitle,
      tagline: 'Writing blog posts is fun when the robots do some of the work!',
      cloudName: 'nehasaa',
      imagePublicID: 'portfolio/blog-post-card'
    });
    console.log(socialImage);
    console.log('**out of method**');

    var socialImagelink = document.createElement('meta');
    socialImagelink.setAttribute('property', 'twitter:image');
    socialImagelink.content = socialImage;
    document.getElementsByTagName('head')[0].appendChild(socialImagelink);

    var socialImagelink2 = document.createElement('meta');
    socialImagelink2.setAttribute('property', 'og:image');
    socialImagelink2.content = socialImage;
    document.getElementsByTagName('head')[0].appendChild(socialImagelink2);

    var socialImagelink3 = document.createElement('meta');
    socialImagelink3.setAttribute('property', 'image');
    socialImagelink3.content = socialImage;
    document.getElementsByTagName('head')[0].appendChild(socialImagelink3);

  </script>
  <meta charset="UTF-8">

  {% if site.use_html_extension == false %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}.html">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">

  <meta property="og:site_name" content="{{ site.title }}">

  {% if page.favicon != null %}
  <!-- Emoji Favicon https://css-tricks.com/emojis-as-favicons/ -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ page.favicon }}</text></svg>">
  {% elsif site.favicon != null %}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.favicon }}</text></svg>">
  {% else %}
  <!-- Add fallback favicons here for browsers that don't support SVG -->
  <link rel=icon href="/favicon.png" sizes="120x120" type="image/png">
  {% endif %}


  <link rel="stylesheet" href="assets/css/style.css">

  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}">
  {% else %}
  <meta property="og:description" content="{{ site.title | strip_html | strip_newlines | truncate: 160 }}">
  {% endif %}

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  {% endif %}

  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ site.url }}/">
  {% endif %}

  {% if page.url == "/" %}
  <meta property="og:url" content="{{ site.url }}">
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">
  {% endif %}

  <meta property="og:image:width" content="1280" /> 
  <meta property="og:image:height" content="658" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="HandheldFriendly" content="True" />
  
  <meta name="twitter:card" content="summary_large_image" /> 
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}"> 
  <meta name=”twitter:url” content="{{ page.url }}">
  <meta name="twitter:site" content="@reddy2go"> 
  <meta name="twitter:creator" content="@reddy2go">

  <title>
    {% if page.id == "home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }} &mdash; {{ site.title }}
    {% endif %}
  </title>
</head>
  
