<div>
  <ul class="navElement">
    <li class="element1"><a class="internal-link" href="/"><b>reddy2go⚡</b></a></li>
    <li><a class="internal-link" href="/"><b>🎙️</b></a></li>
    <li><a class="internal-link" href="/"><b>🕹️</b></a></li>
    <li><a class="internal-link" href="/"><b>ℹ️</b></a></li>
    <li><a class="internal-link" href="https://twitter.com/reddy2go"><b>🐥</b></a></li>
    <li><a class="internal-link" href="/"><b>💌</b></a></li>
    <li><a id="color-switcher" onclick="toggleTheme()">🌙</a></li>
  </div>
</div>