<div>
  <ul class="navElement">
    <li class="element1"><a class="nav-icons" href="/"><b>reddy2go⚡</b></a></li>
    <li><a class="nav-icons" href="/racket" title="racket"><b>🎙️</b></a></li>
    <li><a class="nav-icons" href="/playpals" title="playpen"><b>🕹️</b></a></li>
    <li><a class="nav-icons" href="/about" title="about"><b>ℹ️</b></a></li>
    <li><a class="nav-icons" href="https://twitter.com/reddy2go" title="twitter" target="_blank"><b>🐥</b></a></li>
    <li><a class="nav-icons" href="https://playtime.reddy2go.com/" title="subscribe" target="_blank"><b>💌</b></a></li>
    <!--<li><a id="color-switcher" onclick="toggleTheme()" title="dark mode" class="nav-icons">🌙</a></li>-->
  </div>
</div>