body.night-mode {
  background-color: #262626;
  color: #f9e8e0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #f9e8e0;
  }

  .masthead,
  .post,
  hr {
    border-color: hsla(0, 100%, 100%, 0.15);
  }

  a {
    color: #f9e8e0;
    border-bottom: 4px solid #c74a3e;
  }

  .entry a,
  a.read-more {
    color: rgb(218, 202, 136);
  }

  a:hover {
    color: #c74a3e;
  }

  .wrapper-footer {
    background-color: #121212;
  }

  .highlight {
    background-color: #202020;
    border: 1px solid #000;
  }

  nav a,
  .site-description {
    color: #ccc;
  }
}