/* Global Styles */
:root {
  --heading-color: #f9eeed;
  --text-color: #f9eeed;
  /*--text-color-faded: rgb(29, 31, 32, 0.5);*/
  --background-color: #292424;
  --callout-background: #4a4747;
  --primary-color: #c55d53;
}

body.night-mode {
  background-color: var(--background-color);
  color: var(--text-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
  }

  .masthead,
  .post,
  hr {
    border-color: hsla(0, 100%, 100%, 0.15);
  }

  a {
    color: #f9e8e0;
    border-bottom: 1px solid #c74a3e;
  }

  .entry a,
  a.read-more {
    color: rgb(218, 202, 136);
  }

  a:hover {
    color: #c74a3e;
  }

  .wrapper-footer {
    background-color: #121212;
  }

  .highlight {
    background-color: #202020;
    border: 1px solid #000;
  }

  nav a,
  .site-description {
    color: #ccc;
  }

  code {
    background: var(--callout-background);
  }

  #graph-wrapper {
    background: var(--callout-background);
  }
  
  .links line {
    stroke: #7a7673;
  }
  
  .nodes circle {
    fill: var(--primary-color);
  }
}