---
layout: default
---

<article>
    <h1>{{ page.title }}</h1>
    <header>
      <p>
        <!--<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
          {% if page.type != 'pages' %}Last updated {{ page.last_modified_at | date: "%B %-d, %Y" }}{% endif %}
        </time>-->
        {% if page.category != null %} Category &ndash; {{page.category}}{% endif %}
      </p>
      </header>

  {{ content }}
</article>
<aside>
  <h5>Notes mentioning this note</h5>
  {% if page.backlinks.size > 0 %}
    {% for backlink in page.backlinks %}
    <div class="backlink-box">
      <a class="internal-link" href="{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
      <p>{{ backlink.excerpt | strip_html | truncatewords: 20 }}</p>
    </div>
    {% endfor %}
  {% else %}

  <div>
    <p>
      There are no notes linking to this note.
    </p>
  </div>
  {% endif %}
</aside>
<!--<div>
  {% include social-image-preview-js.html %}
</div>-->
<div>
  <script>
    function generateSocialImage({
            title,
            tagline,
            cloudName,
            imagePublicID,
            cloudinaryUrlBase = 'https://res.cloudinary.com',
            version = null,
            titleFont = 'arial',
            titleExtraConfig = '',
            taglineExtraConfig = '',
            taglineFont = 'arial',
            imageWidth = 1280,
            imageHeight = 669,
            textAreaWidth = 760,
            textLeftOffset = 480,
            titleBottomOffset = 254,
            taglineTopOffset = 445,
            textColor = '000000',
            titleFontSize = 64,
            taglineFontSize = 48,
            }) {
                // configure social media image dimensions, quality, and format
                const imageConfig = [
                `w_${imageWidth}`,
                `h_${imageHeight}`,
                'c_fill',
                'q_auto',
                'f_auto',
                ].join(',');

                const titleConfig = [
                `w_${textAreaWidth}`,
                'c_fit',
                `co_rgb:${textColor}`,
                'g_south_west',
                `x_${textLeftOffset}`,
                `y_${titleBottomOffset}`,
                `l_text:${titleFont}_${titleFontSize}${titleExtraConfig}:${encodeURIComponent(
                title,
                )}`,
                ].join(',');

                // configure the tagline text
                const taglineConfig = [
                `w_${textAreaWidth}`,
                'c_fit',
                `co_rgb:${textColor}`,
                'g_north_west',
                `x_${textLeftOffset}`,
                `y_${taglineTopOffset}`,
                `l_text:${taglineFont}_${taglineFontSize}${taglineExtraConfig}:${encodeURIComponent(
                tagline,
                )}`,
                ].join(',');

                // combine all the pieces required to generate a Cloudinary URL
                const urlParts = [
                cloudinaryUrlBase,
                cloudName,
                'image',
                'upload',
                imageConfig,
                titleConfig,
                taglineConfig,
                version,
                imagePublicID,
                ];

                const validParts = urlParts.filter(Boolean);

                // join all the parts into a valid URL to the generated image
                return validParts.join('/');
        }
        console.log('**In method**');
    console.log('**in note**');
    const socialImage = generateSocialImage({
      title: 'This Is a Post With an Automatically Generated Social Sharing Card',
      tagline: 'Writing blog posts is fun when the robots do some of the work!',
      cloudName: 'reddy2go',
      imagePublicID: 'lwj/blog-post-card',
      titleFont: 'lwj-title.otf',
      titleExtraConfig: '_line_spacing_-10',
      taglineFont: 'lwj-tagline.otf',
      textColor: '232129',
    });
    console.log(socialImage);
    console.log('**out of method**');
  </script>
</div>

<!--<section>
  {%- if site.show_notes_graph -%}<p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>{% include notes-graph.html %}{%- endif -%}
</section>-->
